.card-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-btn {
    border: none;
    padding: 7px;
    background-color: black;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
}

.card {
    transition: 0.5s;
    cursor: pointer;

}

.card:hover {
    box-shadow: 2px 5px 10px grey;
}